  :root {
            --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --font-primary: "Montserrat", sans-serif;
            --font-secondary: "Poppins", sans-serif;
            --color-primary: #f85a40;;
            --color-secondary: #191616;
            --color-tertiary: #008374;
            --color-light: #f8f9fa;
        }
body {
  font-family: var(--font-default);
}

.navbar {
  transition: all 0.3s ease-in-out;
  background-color:transparent;
  
    height: 70px; /* Set a fixed height */
    display: flex; /* Ensure flex layout for alignment */
    align-items: center; /* Center items vertically */
  
}

.navbar.scrolled {
  background-color: var(--color-tertiary);
}



.nav-link {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.navbar.scrolled .nav-link {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-primary) !important;
}

.navbar.scrolled .nav-link:hover,
.navbar.scrolled .nav-link.active {
  color: var(--color-primary) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}


/* Responsive Styles */

@media (max-width: 1000px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }

  .clas1 {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: none; 
    width: 60%;
  }

  .nav-menu.active {
    display: flex; 
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    width: 60%;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-links li a {
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }

  .nav-links  {
    position: static;
    box-shadow: none;
    border-radius: 0;
  }

.nav-menu {
    position: relative;
    z-index: 1001;
    display: none; 
}

.nav-menu.active {
    display: block;
}
.nav-links   {
  top: 100%;
  left: 0;
}
img, div, section {
  max-width: 100%;
  overflow: hidden;
}
}
@media (max-width: 480px) {
  .topbar {
    padding: 5px;
  }

  .nav-container {
    padding: 5px;
  }

  .nav-links li a {
    padding: 8px;
  }
}


/* Logo styles */
.logo-image {
  max-height: 70px; /* Adjust max height */
  filter: drop-shadow(0px 0px 10px rgba(233, 200, 200, 0.8)); /* Glow effect when at the top */
  margin-right: 6px; 
  padding-left: 10px; 
  transform: scale(2.4); /* Increased scale */
  margin-left: 23px;
  transition: filter 0.3s ease; /* Smooth transition for filter */
}

.logo-image.no-glow {
  filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8)); /* No glow effect when scrolled */
}

@media (max-width: 768px) {
  .navbar {
    height: 60px; /* Adjust for mobile */
  }

  .logo-image {
    max-height: 40px; /* Logo size for mobile */
  }
}

@media (min-width: 769px) {
  .navbar {
    height: 70px; /* Height for larger screens */
  }

  .logo-image {
    max-height: 60px; /* Logo size for larger screens */
  }
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-primary);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.hero-content .animated-text span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.animated-text {
  height: 50px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.animated-text span {
  display: block;
  height: 100%;
  padding: 0 10px;
  font-size: 1.5rem;
  color: var(--color-primary);
  animation: spin_words 9s infinite;
  font-family: var(--font-secondary);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

@keyframes spin_words {
  0%, 33% { transform: translateY(0%); }
  33.33%, 66% { transform: translateY(-100%); }
  66.66%, 100% { transform: translateY(-200%); }
}

.hero-content p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.learn-more-btn {
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 12px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.learn-more-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2rem; /* Reduce the size of the main heading */
  }

  .hero-content .animated-text span {
    font-size: 1rem; /* Reduce the size of the animated text */
  }

  .hero-content p {
    font-size: 1rem; /* Adjust the paragraph font size */
  }

  .hero-content {
    padding: 10px; /* Add some padding to avoid content touching the edges */
  }
  .hero-content .learn-more-btn {
    padding: 10px 20px; /* Adjust button size */
    font-size: 0.9rem;  /* Make the button text a little smaller */
  }

  .animated-text {
    height: 30px; /* Adjust height for smaller screens */
  }

  .animated-text span {
    font-size: 1rem; /* Reduce text size for better fit */
  }
  @keyframes spin_words {
    0%, 33% { transform: translateY(0%); }
    33.33%, 66% { transform: translateY(-100%); }
    66.66%, 100% { transform: translateY(-200%); }
  }
}




.section {
  padding: 80px 0;
}


#about {
  background-color: #f8f9fa;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}



#about h2 {
  color: var(--color-tertiary);
  margin-bottom: 30px;
  font-family: var(--font-primary);
  font-weight: 700;
}

#about p {
  margin-bottom: 20px;
  font-family: var(--font-default);
  line-height: 1.6;
}

#about ul {
  list-style-type: none;
  padding-left: 0;
}

#about ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-family: var(--font-default);
}

#about ul li:before {
  content: "\2022";
  color: var(--color-primary);
  font-weight: bold;
  position: absolute;
  left: 0;
}

.about-infographic {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}





/* About section styles */
#about {
  background-color: #ffffff !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

#about h2 {
  color: var(--color-tertiary);
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: var(--font-primary);
  font-weight: 700;
  text-align: center; /* Center the heading */
  position: relative;
  display: block; /* Ensure it takes full width */
}


#about h2::after {
  content: '';
  position: absolute;
  width: 10%; /* Make the underline smaller */
  height: 2px;
  background-color: var(--color-primary);
  bottom: -10px;
  left: 45%; /* Adjust to keep it centered */
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
}



#about h2.appear::after {
    transform: scaleX(1);
}

/* List styles */
.feature-list {
    list-style-type: none;
    padding-left: 0;
}

.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.feature-item.appear {
    opacity: 1;
    transform: translateY(0);
}

.feature-icon {
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image styles */
.about-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 133.33%; /* This creates a 3:4 aspect ratio */
}

.about-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.about-image-container:hover img {
    transform: scale(1.05);
}

.about-image-container::before {
    content: '';
    position: absolute;
    top: -75%;
    left: -75%;
    width: 150%;
    height: 150%;
    background: linear-gradient(to bottom right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: rotate(45deg);
    transition: all 0.75s;
    z-index: 2;
}

.about-image-container:hover::before {
    animation: shine 1.5s infinite;
}

@keyframes shine {
    0% {
        top: -75%;
        left: -75%;
    }
    100% {
        top: 75%;
        left: 75%;
    }
}

/* Animations */
.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-out;
}

.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s ease-out;
}

.slide-in-left.appear,
.slide-in-right.appear {
    transform: translateX(0);
    opacity: 1;
}








/* Services Section Styles */
#services {
  background-color: #f8f9fa!important;;
  padding: 100px 0;
}

#services h2 {
  color: var(--color-tertiary);
  font-size: 3rem;
  margin-bottom: 60px;
  font-family: var(--font-primary);
  font-weight: 700;
  position: relative;
}

#services h2::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: var(--color-primary);
  bottom: -15px;
  left: 45%;
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
}

#services h2.appear::after {
  transform: scaleX(1);
}

.service-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.service-item.reverse {
  flex-direction: row-reverse;
}

.service-content {
  flex: 1;
}

.service-image {
  flex: 1;
  position: relative;
}




.service-icon {
  font-size: 3rem;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.service-content h3 {
  color: var(--color-tertiary);
  font-family: var(--font-secondary);
  font-size: 2rem;
  margin-bottom: 20px;
}

.service-content p {
  color: var(--color-secondary);
  font-family: var(--font-default);
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  padding: 10px 25px;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Animations */
.slide-in-left, .slide-in-right {
  opacity: 0;
  transition: all 1s ease-out;
}

.slide-in-left {
  transform: translateX(-100px);
}

.slide-in-right {
  transform: translateX(100px);
}

.slide-in-left.appear, .slide-in-right.appear {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 991px) {
  .service-item, .service-item.reverse {
      flex-direction: column;
  }

  .service-image {
      order: -1;
  }

  .service-content, .service-image {
      width: 100%;
  }
}



/* Products Section Styles */
#products {
  background-color: #ffffff;
  padding: 100px 0;
}

#products h2 {
  color: var(--color-tertiary);
  font-size: 3rem;
  margin-bottom: 60px;
  font-family: var(--font-primary);
  font-weight: 700;
  position: relative;
}

#products h2::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: var(--color-primary);
  bottom: -15px;
  left: 45%;
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
}

#products h2.appear::after {
  transform: scaleX(1);
}

.product-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.product-item {
  flex: 1;
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-out;
  opacity: 0;
  transform: translateY(50px);
}

.product-item.appear {
  opacity: 1;
  transform: translateY(0);
}

.product-icon {
  font-size: 4rem;
  color: var(--color-primary);
  margin-bottom: 20px;
  text-align: center;
}

.product-item h3 {
  color: var(--color-tertiary);
  font-family: var(--font-secondary);
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.product-description {
  color: var(--color-secondary);
  font-family: var(--font-default);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.product-features {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.product-features li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.product-features i {
  color: var(--color-primary);
  margin-right: 10px;
}

.product-info {
  max-width: 800px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.product-info.appear {
  opacity: 1;
  transform: translateY(0);
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  padding: 10px 25px;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .product-container {
      flex-direction: column;
  }
}





#faq {
    background-color: #f8f9fa;
    padding: 100px 0;
}

#faq h2 {
    color: var(--color-tertiary);
    font-size: 3rem;
    margin-bottom: 50px;
    font-family: var(--font-primary);
    font-weight: 700;
    text-align: center;
    position: relative;
}

#faq h2::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: var(--color-primary);
    bottom: -15px;
    left: 45%;
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
}

#faq h2.appear::after {
    transform: scaleX(1);
}

.faq-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(100px) rotate(5deg);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.faq-item.appear {
  opacity: 1;
  transform: translateX(0) rotate(0deg);
}
.faq-question {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-tertiary);
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question::after {
    content: '\002B';
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
    transform: rotate(45deg);
}

.faq-answer {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-item.active .faq-answer {
    padding: 20px;
    max-height: 1000px;
}

#partner {
  background-color: #ffffff;
  padding: 100px 0;
  perspective: 1000px; /* Add perspective for the 3D effect */
}

#partner h2 {
  color: var(--color-tertiary);
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: var(--font-primary);
  font-weight: 700;
  text-align: center;
  position: relative;
}

#partner h2::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: var(--color-primary);
  bottom: -15px;
  left: 45%;
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
}

#partner h2.appear::after {
  transform: scaleX(1);
}

.partner-description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

/* Initial state for the form (hidden and from behind) */
.partner-form {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Start hidden */
  transform: scale(0.8) translateZ(-200px); /* Shrink and move back */
  transition: transform 1s ease-out, opacity 1s ease-out; /* Smooth animation */
}

/* When form enters the viewport, animate it */
.partner-form.appear {
  opacity: 1;
  transform: scale(1) translateZ(0); /* Restore to original size and position */
}

.partner-form label {
  font-weight: 600;
  color: var(--color-tertiary);
}

.partner-form .form-control {
  border: none;
  border-bottom: 2px solid var(--color-primary);
  border-radius: 0;
  padding: 10px 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.partner-form .form-control:focus {
  box-shadow: none;
  border-color: var(--color-tertiary);
}

.partner-form .submit-btn {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 1.1rem;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.partner-form .submit-btn:hover {
  background-color: var(--color-tertiary);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.error-message, .sent-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}

.sent-message {
  background-color: #d4edda;
  color: #155724;
}



@media (max-width: 991px) {
  .hero h1 {
      font-size: 2.5rem;
  }

  .animated-text span {
      font-size: 1.2rem;
  }
}

/* Footer Styles */
.footer {
  background-color: var(--color-tertiary);
  color: #ffffff;
  padding: 60px 0 0;
  font-family: var(--font-default);
}

.footer-column {
  margin-bottom: 30px;
}

.footer-logo {
  max-width: 150px;
  height: auto;
  margin-bottom: -20px;
  display: block;
 
  
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #ffffff;
  color: var(--color-tertiary);
}

.footer h3 {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: var(--font-primary);
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--color-primary);
}

.footer-bottom {
 
  padding: 20px 0;
  margin-top: 40px;
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-column {
      text-align: center;
  }

  .footer-logo {
      margin-left: auto;
      margin-right: auto;
  }

  .social-icons {
      justify-content: center;
  }
}